.app-div {
}
.form-control {
  margin-top: 10px;
}
.form-control input {
  width: 50vw;
  height: 50px;
  color: #183a1d;
  border: none;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
.form-control button {
  background-color: #183a1d;
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 0px 10px 10px 0;
  font-family: inherit;
}
/* Card Session */
.search-cmp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}
.movie-card {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 8px 5px;
  height: 600px;
  box-shadow: 0px 4px 5px 0px #888;
  background-color: #183a1d;
}
.movie-img {
  max-height: 300px;
  overflow: hidden;
}
.movie-img img {
  width: 100%;
}
.card-body {
  padding: 20px;
  margin: 5px;
}
.movie-title {
  font-size: 18px;
}
.movie-intro {
  font-size: 0.8rem;
}
.movie-synopsis {
  color: #f0a04b;
  text-align: left;
}

/* Responsiveness */
@media (max-width: 428px) {
  .movie-card {
    width: 100%;
    max-width: none;
    height: 100%;
  }
  .movie-img {
    max-height: 30%;
  }
  .movie-img img {
    width: 92vw;
    height: 25rem;
  }
}
